body{
    background-image: url("https://bit.ly/2saLzkM");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 2px;
    padding: 150px;
}
h1{
    font-size: 70px;
}
p{
    font-size: 20px;
}